<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body ">
                    <h3 class="titulo">Cadastro Paciente</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="formularios row mt-4 ">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Cadastro</h5>

                    <form [formGroup]="form" (ngSubmit)="adicionarCadastro()">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-light fa-file-pen"
                                [class.green-icon] ="this.form.get('prontuario')?.valid"
                                [class.red-icon] ="this.form.get('prontuario')?.invalid && this.form.get('prontuario')?.touched"
                                ></i></span>
                            <input formControlName="prontuario" type="text" class="form-control" placeholder="prontuario">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                            <input formControlName="nome" type="text" class="form-control" placeholder="nome">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                            <input formControlName="sobrenome" type="text" class="form-control" placeholder="sobrenome">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-calendar-days"
                                [class.green-icon] ="this.form.get('dataNascimento')?.valid"
                                [class.red-icon] ="this.form.get('dataNascimento')?.invalid && this.form.get('dataNascimento')?.touched"
                                ></i></span>
                            <input formControlName="dataNascimento" maxlength="10" type="text" class="form-control" placeholder="dia/mes/ano">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-people"></i></span>
                            <input formControlName="genero" type="text" class="form-control" placeholder="gênero">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-id-card"
                                [class.green-icon] ="this.form.get('cpf')?.valid"
                                [class.red-icon] ="this.form.get('cpf')?.invalid && this.form.get('cpf')?.touched"
                                ></i></span>
                            <input formControlName="cpf" maxlength="14" type="text" class="form-control" placeholder="CPF">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-id-card"
                                [class.green-icon] ="this.form.get('rg')?.valid"
                                [class.red-icon] ="this.form.get('rg')?.invalid && this.form.get('rg')?.touched"
                                ></i></span>
                            <input formControlName="rg" maxlength="12" type="text" class="form-control" placeholder="RG">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                            <input formControlName="uf" type="text" class="form-control" placeholder="UF">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-at"></i></span>
                            <input formControlName="email" type="text" class="form-control" placeholder="email" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-mobile-screen"
                                [class.green-icon] ="this.form.get('celular')?.valid"
                                [class.red-icon] ="this.form.get('celular')?.invalid && this.form.get('celular')?.touched"
                                ></i></span>
                            <input formControlName="celular" maxlength="9" type="text" class="form-control" placeholder="celular">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-phone-rotary"
                                [class.green-icon] ="this.form.get('telefone')?.valid"
                                [class.red-icon] ="this.form.get('telefone')?.invalid && this.form.get('telefone')?.touched"
                                ></i></span>
                            <input formControlName="telefone" maxlength="9" type="text" class="form-control" placeholder="telefone">
                        </div>

                        <select class="form-select" aria-label="Default select example">
                            <option selected>Selecione o convenio</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-thin fa-address-card"></i></span>
                            <input formControlName="carteirinha" type="text" class="form-control" placeholder="carteirinha do convenio">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="fa-thin fa-address-card"
                                [class.green-icon] ="this.form.get('validade')?.valid"
                                [class.red-icon] ="this.form.get('validade')?.invalid && this.form.get('validade')?.touched"
                                ></i></span>
                            <input formControlName="validade" maxlength="7" type="text" class="form-control" placeholder="mes/ano">
                        </div>

                        <div class="d-grid gap-2">
                            <button [disabled]="this.form.invalid" type="submit" class="btn btn-sucess bt-lg">Cadastrar</button>
                        </div>


                    </form>

                </div>
            </div>
        </div>

        <div class="col-lg-15">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Listagem dos Pacientes
                    </h5>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let cadastro of listCadastro">
                                <td>{{cadastro.prontuario}}</td>
                                <td>{{cadastro.nome}}</td>
                                <td>{{cadastro.sobrenome}}</td>
                                <td>{{cadastro.dataNascimento}}</td>
                                <td>{{cadastro.genero}}</td>
                                <td>{{cadastro.cpf}}</td>
                                <td>{{cadastro.rg}}</td>
                                <td>{{cadastro.uf}}</td>
                                <td>{{cadastro.email}}</td>
                                <td>{{cadastro.celular}}</td>
                                <td>{{cadastro.telefone}}</td>
                                <td>{{cadastro.convenio}}</td>
                                <td>{{cadastro.carteirinha}}</td>
                                <td>{{cadastro.validade}}</td>
                                <td><i class="far fa-edit text-info"></i></td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>